.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.sundayClass {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 150px;
  position: relative;
}

.sundayClass abbr {
  position: absolute;
  top: 5px;
  left: 5px;
}

.sundayClass p {
  background-color: lightblue;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  white-space: nowrap;
  margin: 4px 0px;
  padding: 0px;
}