.App {
  text-align: center;
  background-color: #303030;
  color: #e7e7e7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navMenuButton {
  width: 20px;
  height: 20px;
}


.react-calendar__tile {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 150px;
  position: relative;
}

.react-calendar__tile abbr {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  font-size: 11px;
}

.react-calendar__tile p {
  background-color: lightblue;
  border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  white-space: nowrap;
  margin: 4px 0px;
  padding: 0px;
  font-size: 12px;
  padding-left: 2px;
}

.react-calendar__month-view__weekdays * {
  text-decoration: none;
  font-size: 12px;
}

.monthView.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.react-calendar__tile {
  background-color: #303030;
  border: 1px solid white;
}

.react-calendar__tile:hover {
  cursor: pointer;
}

h1 {
  font-size: 12px;
  font-weight: normal;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}